.navbar-default{
    background-color: #102169;
    
}
.dropdown-menu{
    background-color: #102169;
    
}
.nav.navbar-nav li a{
    color: #fff !important;
}
.nav.navbar-nav li a:hover{
    background-color: #e7e7e7 !important;
    color: #000 !important;
}
.navbar-nav li a:active{
    color: #000 !important;
}
body{
    padding-top: 50px;
    padding-bottom: 50px;
}
.jumbotron{
    color: #102169;
    padding: 30px;
}
h1 small{
    color: #000;
}
#kategori{
    color: #000;
}
#jumbotronPadding{
    padding-bottom: 20px;
}
.JobbTitel{
    font-size: 18px;
    margin-bottom: 3px;
}
#asd{
    margin-top: 10px;
}
.img-responsive{
    height: auto;
    width: 100%;
}
.navbar-brand{
    color: #fff !important;
}
.img-size{
    height: 70%;
    width: 70%;
}
.kategoriStorlek{
    font-size: 20px;
    color: #000;
}