.navbar-default{
    background-color: #102169;
    
}
.dropdown-menu{
    background-color: #102169;
    
}
.nav.navbar-nav li a{
    color: #fff;
}
.nav.navbar-nav li a:hover{
    background-color: #e7e7e7;
    color: #000;
}
.navbar-nav li:active a{
    color: #fff;
}
body{
    padding-top: 50px;
}
.jumbotron{
    color: #102169;
}
h1 small{
    color: #000;
}
#kategori{
    color: #000;
}
#jumbotronPadding{
    padding-bottom: 20px;
}
#bilder{
    
}